.splash{
  cursor : pointer;
  position : fixed;
  top : 50%;
  left : 50%;
  height : 100%;
  width : 100%;
  transform : translate(-50%,-50%);
  background-color: rgba(0,0,0);
  transition : all ease-in-out 600ms;
}

.splash-text {
  height : 90%;
  display : flex;
  justify-content: center;
  align-items : center;
}

.noscroll {
  overflow-y: hidden;
}
