// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #984aff;
$secondary: #49e8d5;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.fluomarker-primary {
  background-color: $primary;
  color: #ffffff;
  padding: 1px;
  backdrop-filter: blur(5px);
  max-height: 45%;
  display: inline-block;
}

.fluomarker-secondary {
  background-color: $secondary;
  color: #ffffff;
  padding: 1px;
  backdrop-filter: blur(5px);
  max-height: 45%;
  display: inline-block;
}
