---
import Layout from "../layouts/Layout.astro";
import {
	Hero,
	Hero2,
	Hero3,
	Hero4,
	Testimonials,
	Clients,
	EarlyAccess,
} from "../components";

const content = {
	title: "Leadbay - Revolutionizing B2B Sales with AI-Powered Solutions - Coming soon",
	description:
		"Leadbay, an upcoming AI-powered solution, is set to revolutionize B2B sales. Our platform empowers businesses with advanced lead discovery and scoring, helping you engage with the right lead at the right time. Join the future of B2B sales - Leadbay is coming soon.",
};
---

<Layout title={content.title}>
	<main>
		<Hero />
		<Clients />
		<Hero2 />
		<Hero3 />
		<Hero4 />
		<Testimonials />
		<EarlyAccess />
	</main>
</Layout>
