---
import { SEO } from 'astro-seo'
import { Header, Footer } from '../components'
import '@fontsource/carter-one'

export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen scroll-smooth">
	<head>
		<SEO
			canonical="https://leadbay.ai"
			title={title}
			description={description}
			openGraph={{
				basic: {
					title: title,
					type: 'website',
					image: 'https://github.com/leadbay/landingpage/assets/513170/68151f87-76aa-423c-a391-e9eee43731aa',
					url: 'https://leadbay.ai'
				}
			}}
			twitter={{
				creator: '@leadbayapp'
			}}
			extend={{
				link: [{ rel: 'icon', href: '/favicon.svg' }],
				meta: [
					{
						name: 'twitter:image',
						content:
							'https://github.com/leadbay/landingpage/assets/513170/68151f87-76aa-423c-a391-e9eee43731aa'
					},
					{ name: 'twitter:title', content: title },
					{ name: 'twitter:description', content: description }
				]
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
		<link rel="manifest" href="favicon/site.webmanifest" />
		<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
	</head>
	<body
		class="flex min-h-screen flex-col bg-violet-900 text-white selection:bg-violet-200 selection:text-violet-900"
	>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
